# Copia este archivo a ".env" y rellena con tus valores reales.
# ".env" NO se sube a GitHub (mira .gitignore) porque cada persona
# del equipo tendrá una IP distinta en la Wi-Fi del robot.

ROS_MASTER_URI=http://IP_DEL_ROBOT:11311
ROS_IP=192.168.1.36
